# ks.cfg
# Use text mode install
text

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Use network installation
url --url="https://repo.almalinux.org/almalinux/9.5/BaseOS/x86_64/os"

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all --initlabel

# Pre-installation script to detect SSDs 
%pre --erroronfail
#!/bin/bash 
# Find the first two SSDs by checking rotational flag
SSD_DISKS=($(lsblk -d -o name,rota,type | grep ' 0 disk'| grep -v 'ram' | awk '{print $1}' | head -n 2)) 

# Check if two SSDs were found 
if [ "${#SSD_DISKS[@]}" -lt 2 ]; then 
 echo "Error: Less than two SSDs found." > /dev/tty1 
 exit 1 
fi 
 
# Generate partitioning file
echo "part raid.01 --size=600 --ondisk=${SSD_DISKS[0]} --fstype=\"mdmember\"" > /tmp/partitioning.cfg 
echo "part raid.02 --size=600 --ondisk=${SSD_DISKS[1]} --fstype=\"mdmember\"" >> /tmp/partitioning.cfg
echo "part raid.11 --size=1024 --ondisk=${SSD_DISKS[0]} --fstype=\"mdmember\"" >> /tmp/partitioning.cfg
echo "part raid.12 --size=1024 --ondisk=${SSD_DISKS[1]} --fstype=\"mdmember\"" >> /tmp/partitioning.cfg
echo "part raid.21 --size=16200 --ondisk=${SSD_DISKS[0]} --fstype=\"mdmember\"" >> /tmp/partitioning.cfg
echo "part raid.22 --size=16200 --ondisk=${SSD_DISKS[1]} --fstype=\"mdmember\"" >> /tmp/partitioning.cfg 
%end

%packages
@^server-product-environment

%end

# Do not configure the X Window System
skipx

# Reboot after installation
reboot

# Include and run partitioning file
%include /tmp/partitioning.cfg

# RAID setup 
raid / --device=root --fstype="xfs" --level=RAID1 raid.21 raid.22
raid /boot --device=boot --fstype="ext4" --level=RAID1 raid.11 raid.12
raid /boot/efi --device=boot_efi --fstype="efi" --level=RAID1 --fsoptions="umask=0077,shortname=winnt" raid.01 raid.02

# System timezone
timezone America/New_York --utc
timesource --ntp-server time.google.com

# Root password
rootpw --allow-ssh --iscrypted $6$xzli4sU84KZMo7Aj$BDCqQ4wIMSYUDfh8GIdO7KomInCZDLwIxo.Z6//Nmui91RDHoizWgQmPW2TwGqQ3wUrLTBY06CH0KVw7KYAMR0
